/* Typography */

html {
    font-size: 16px;
}

body {

    font-family: var(--font-family-primary);

    font-size: var(--fs-md);

    font-weight: var(--font-weight-regular);

    color: var(--color-text-primary);

    line-height: 1.6;

    letter-spacing: .2px;

}


   /* Headings */


h1,
.h1 {

    font-size: var(--fs-5xl);

    font-weight: var(--font-weight-bold);

    line-height: 1.15;

}

h2,
.h2 {

    font-size: var(--fs-4xl);

    font-weight: var(--font-weight-bold);

    line-height: 1.2;

}

h3,
.h3 {

    font-size: var(--fs-3xl);

    font-weight: var(--font-weight-semibold);

}

h4,
.h4 {

    font-size: var(--fs-2xl);

    font-weight: var(--font-weight-semibold);

}

h5,
.h5 {

    font-size: var(--fs-xl);

    font-weight: var(--font-weight-medium);

}

h6,
.h6 {

    font-size: var(--fs-lg);

    font-weight: var(--font-weight-medium);

}

   /* Body */


.body-lg {

    font-size: var(--fs-lg);

}

.body {

    font-size: var(--fs-md);

}

.body-sm {

    font-size: var(--fs-sm);

}

   /* Caption */


.caption {

    font-size: var(--fs-xs);

    color: var(--color-text-muted);

}


   /* Labels */


.label {

    font-size: var(--fs-sm);

    font-weight: var(--font-weight-medium);

}