.hero-container {

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}

.hero-logo {

    margin-bottom: var(--space-12);

}

.hero-content {

    max-width: 560px;

}

.hero-content h1 {

    font-size: clamp(3rem,5vw,4.5rem);

    font-weight: var(--font-weight-bold);

    line-height: 1.15;

    margin-bottom: var(--space-6);

}

.hero-content span {

    color: var(--color-primary);

}

.hero-content p {

    font-size: var(--fs-lg);

    color: var(--color-text-secondary);

    max-width: 520px;

}

.hero-image {

    display: flex;

    justify-content: center;

    margin-top: var(--space-12);

}

.hero-image img {

    width: 100%;

    max-width: 520px;

}