<div class="hero-container">

    <div class="hero-logo">
        <!-- <span>PhyBuddy</span> -->

        <img
            src="assets/images/logo.svg"
            alt="PhyBuddy Logo">

    </div>

    <div class="hero-content">

        <h1>

            Begin Your
            <span>Physics</span>
            Journey
        </h1>

        <p>

            Learn Physics through interactive
            one-to-one sessions designed to make
            complex concepts simple and engaging.

        </p>

    </div>

    <div class="hero-image">

        <img
            src="images/signup-hero-image.png"
            alt="Physics Illustration">

    </div>

</div>