.auth-layout {

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 1fr;

    max-width: 1600px;
    margin: 0 auto;

    background: var(--color-background);

}

/* LEFT */

.hero-section {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 48px 64px;

}

.hero-section app-brand {

    margin-bottom: 72px;

}